openapi: 3.0.0
info:
  title: Buildify API
  version: '1.0'
servers:
  - url: https://api.getbuildify.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: x-api-key
security:
  - sec0: []
paths:
  /{apiVersion}/{apiProvince}/listing:
    get:
      summary: Get A Listing
      description: 👨🏻‍💻 Retrieve detailed information of a specific listing.
      operationId: get-a-listing
      parameters:
        - name: id
          in: query
          description: The specific id/objectId of the listing.
          required: true
          schema:
            type: string
        - name: retrieveAttributes
          in: query
          description: 'Attributes to retrieve. For example: name, summary, builders, etc. It should be comma separated. **[See more info](https://buildify.readme.io/reference/retrievable-attributes)**.'
          schema:
            type: string
        - name: referrences
          in: query
          description: 'Fields to attach referrences. For example: builders, marketers, etc. It should be comma separated. **[See more info](https://buildify.readme.io/reference/referrencing)**.'
          schema:
            type: string
        - name: apiVersion
          in: path
          schema:
            type: string
            enum:
              - v1-sandbox
              - v1-lite
              - v1
          required: true
        - name: apiProvince
          in: path
          schema:
            type: string
            enum:
              - 'on'
              - bc
              - ab
              - mb
              - nb
              - nl
              - ns
              - pe
              - qc
              - sk
            default: 'on'
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "builders": [
                        {
                          "summary": "Over the decades the building landscape has gone through incredible changes in which Greenpark has not only sustained, but often times shaped and led. Through all this growth the Greenpark legacy has continued to thrive securely resting upon the foundations which were built over 55 years ago.",
                          "address": "8700 Dufferin Street\nVaughan, ON L4K 4S6",
                          "listings": [
                            "Listings/7I8F7Y",
                            "Listings/GFCFQD",
                            "Listings/RV8YIQ",
                            "Listings/41A42E",
                            "Listings/KWMHW0",
                            "Listings/JLON36",
                            "Listings/3ICZ3G",
                            "Listings/QTSL9E",
                            "Listings/4KQTX3",
                            "Listings/0GYBON",
                            "Listings/QGA7ZQ",
                            "Listings/Q1UD4Y"
                          ],
                          "website": "greenparkgroup.ca",
                          "name": "Greenpark Group",
                          "logo": "https://storage.googleapis.com/precon-app.appspot.com/bfd06b4f-d537-47c9-9799-ab814d065725.png",
                          "id": "3tLqusTBLjz2p52xbuU3",
                          "path": "Builders/3tLqusTBLjz2p52xbuU3",
                          "collection": "Builders"
                        }
                      ],
                      "name": "Sample Listing - TEST Example",
                      "summary": "This is the random summay",
                      "id": "Q1UD4Y"
                    }
              schema:
                type: object
                properties:
                  builders:
                    type: array
                    items:
                      type: object
                      properties:
                        summary:
                          type: string
                          example: Over the decades the building landscape has gone through incredible changes in which Greenpark has not only sustained, but often times shaped and led. Through all this growth the Greenpark legacy has continued to thrive securely resting upon the foundations which were built over 55 years ago.
                        address:
                          type: string
                          example: |-
                            8700 Dufferin Street
                            Vaughan, ON L4K 4S6
                        listings:
                          type: array
                          items:
                            type: string
                            example: Listings/7I8F7Y
                        website:
                          type: string
                          example: greenparkgroup.ca
                        name:
                          type: string
                          example: Greenpark Group
                        logo:
                          type: string
                          example: https://storage.googleapis.com/precon-app.appspot.com/bfd06b4f-d537-47c9-9799-ab814d065725.png
                        id:
                          type: string
                          example: 3tLqusTBLjz2p52xbuU3
                        path:
                          type: string
                          example: Builders/3tLqusTBLjz2p52xbuU3
                        collection:
                          type: string
                          example: Builders
                  name:
                    type: string
                    example: Sample Listing - TEST Example
                  summary:
                    type: string
                    example: This is the random summay
                  id:
                    type: string
                    example: Q1UD4Y
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "requestId": "1675936783783265868-YXdzLWFwLXNvdXRoLTE=-2bcb5be7be8b42e281e557c24560c568ed2538504dc64939aec7dfad9858b1cc",
                        "message": "Forbidden"
                    }
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    example: 1675936783783265868-YXdzLWFwLXNvdXRoLTE=-2bcb5be7be8b42e281e557c24560c568ed2538504dc64939aec7dfad9858b1cc
                  message:
                    type: string
                    example: Forbidden
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "requestId": "1675927846210615670-YXdzLXVzLWVhc3QtMQ==-7ea567d52c814134b370c178b2fae477bcae1ff01df14cc49e7481a79b7561a4",
                      "message": "No data product found. Please contact your data provider"
                    }
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    example: 1675927846210615670-YXdzLXVzLWVhc3QtMQ==-7ea567d52c814134b370c178b2fae477bcae1ff01df14cc49e7481a79b7561a4
                  message:
                    type: string
                    example: No data product found. Please contact your data provider
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Server Error - Specific ID Invalid:
                  value: |-
                    {
                      "message": "Error: 500"
                    }
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Error: 500'
      deprecated: false
  /{apiVersion}/{apiProvince}/search_listings:
    get:
      summary: Search Listings
      description: 🔎 Search for the most up-to-date listings information.
      operationId: search-listings
      parameters:
        - name: search
          in: query
          description: The given search string is searched from listing's name, summary, amenities, cityOrDistrict, streetName, country, neighbourhood. **[See more info](https://buildify.readme.io/reference/searching-params)**.
          schema:
            type: string
        - name: page
          in: query
          description: Fetch the given page of the results, starts from 0. **[See more info](https://buildify.readme.io/reference/pagination)**.
          schema:
            type: string
        - name: perPage
          in: query
          description: Number of results to be fetched per page.
          schema:
            type: string
        - name: facets
          in: query
          description: Facets to fetch, possible values can be amenities, builders, marketers, etc. It should be comma separated. **[See more info](https://buildify.readme.io/reference/faceting)**.
          schema:
            type: string
        - name: filterQuery
          in: query
          description: Query to filter the listings. This parameter will work if the `retrieveAttributes` is also filled in. **[See more info](https://buildify.readme.io/reference/filtering)**.
          schema:
            type: string
        - name: retrieveAttributes
          in: query
          description: 'Attributes to retrieve. For example: name, summary, builders, etc. It should be comma separated. **[See more info](https://buildify.readme.io/reference/retrievable-attributes)**.'
          schema:
            type: string
        - name: highlightResults
          in: query
          description: Highlight the strings matching the search.
          schema:
            type: boolean
        - name: nearby
          in: query
          description: Fetch listings nearby to the given coordinates. **[See more info](https://buildify.readme.io/reference/nearby-parameters)**.
          schema:
            type: string
        - name: radius
          in: query
          description: Listings under the given radius. **[See more info](https://buildify.readme.io/reference/nearby-parameters)**.
          schema:
            type: integer
            format: int32
        - name: referrences
          in: query
          description: 'Fields to attach referrences. For example: builders, marketers, etc. It should be comma separated. **[See more info](https://buildify.readme.io/reference/referrencing)**.'
          schema:
            type: string
        - name: sortBy
          in: query
          description: Sort by either name, price or sellingStatusUpdateTimestamp
          schema:
            type: string
        - name: sortOrder
          in: query
          description: asc for ascending, dsc for descending
          schema:
            type: string
        - name: searchWithin
          in: query
          description: Comma separated list of values to be used for searching, by default all the values are used. Only acceptable values are from name, summary, amenities, cityOrDistrict, streetName, country, neighbourhood, fullAddress, listingId
          schema:
            type: string
        - name: apiVersion
          in: path
          schema:
            type: string
            enum:
              - v1-sandbox
              - v1-lite
              - v1
          required: true
        - name: apiProvince
          in: path
          schema:
            type: string
            enum:
              - 'on'
              - bc
              - ab
              - mb
              - nb
              - nl
              - ns
              - pe
              - qc
              - sk
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "results": [
                        {
                          "estimatedCompletionYear": 2024,
                          "firstOccupancyDateTBD": false,
                          "country": "Canada",
                          "numberOfUnits": "354",
                          "constructionStartedTBD": false,
                          "state": "Ontario",
                          "isFeatured": false,
                          "logo": {
                            "name": "logo",
                            "url": "https://storage.googleapis.com/precon-app.appspot.com/74ea744b-0ec8-413d-9df3-9573c759a250.png"
                          },
                          "maxBaths": 2,
                          "_geoloc": {
                            "lat": 43.25477892843521,
                            "lng": -79.86067799088214
                          },
                          "minBaths": 1,
                          "assignmentFee": null,
                          "developmentLevies": "$8,000 for 1 Bedroom Den and smaller $10,000 for 2 Bedrooms and larger",
                          "ccOrMaintFeeIncluded": false,
                          "brokerages": [],
                          "endPricePerSqFeet": 373990,
                          "developmentLeviesIncluded": false,
                          "long": "-79.86067799088214",
                          "lockerMaintainance": 0,
                          "sellingStatus": "Sold Out",
                          "floorPlans": [
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/1347ce54-d9e6-4eed-bb3e-2b530ce0bd8e.png"
                              },
                              "name": "Glass",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "431",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/8f891b04-6609-49e7-9f27-4aa82f05a3c1.png"
                              },
                              "name": "Marble-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "435",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/a399971e-353c-4963-a143-a43704251c82.png"
                              },
                              "name": "Marble",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "435",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/1f7a66f5-bdc5-4a48-9490-9f719388116a.png"
                              },
                              "name": "Wood-2/-3/-6",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/645ed8bc-bd2a-4495-b5f1-44dc7ac59eb4.png"
                              },
                              "name": "Velvet",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/599d90ec-dc22-485c-8f9e-f49f71d5013c.png"
                              },
                              "name": "Satin-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/176e9ae5-b7f9-4d8c-8e47-21c9e043ecf4.png"
                              },
                              "name": "Wood-1/-5",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/32f98553-f945-4ad3-b9b4-bd9ed92aaec6.png"
                              },
                              "name": "Velvet-2",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/8d519682-fbf7-4eac-b9e7-08a9b935ac60.png"
                              },
                              "name": "Satin",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "460",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/5e7b0bd2-62db-4c42-a59b-d243cb76edce.png"
                              },
                              "name": "Glass-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "461",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/c71d7f39-8aa2-4767-86b6-a1e8102e55f4.png"
                              },
                              "name": "Silver-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "496",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/33544b18-cf91-407a-886a-0c1fd0578959.png"
                              },
                              "name": "Silver",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "496",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/e37d70f5-2cd8-4ff7-aa36-a9b1c8b70824.png"
                              },
                              "name": "Gold-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "504",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/6d8e2873-e0f3-4f03-85b2-bed7aec57e2f.png"
                              },
                              "name": "Gold",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "504",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/4623f0c5-b029-4d26-8de0-9d7aef4d7d1f.png"
                              },
                              "name": "Birchwood-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "521",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/869f2c8f-dd02-4422-9e6e-fd5b679d75d4.png"
                              },
                              "name": "Birchwood/Maplewood",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "521",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/b20273b8-b243-43b6-9c8e-315d442467ef.png"
                              },
                              "name": "Maplewood-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1,
                              "planCategory": "floorPlan",
                              "squareFeet": "522",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/c9d750d1-0995-48c8-b749-0babb6b47f87.png"
                              },
                              "name": "Silk/Silk-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "468",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/9c898181-a247-46e4-96fa-7b3e56005dd0.png"
                              },
                              "name": "Bronze/Bronze-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "469",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/291128ab-7e9f-4bab-a325-014bab6a0b35.png"
                              },
                              "name": "Nickel",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "472",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/4342ae60-9d51-494c-8f2d-363622b93eb4.png"
                              },
                              "name": "Chrome",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "472",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/36bfc9c2-90c7-444c-8e68-eed468f2a716.png"
                              },
                              "name": "Copper",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "474",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/c5393ea8-7ca7-49b0-9b59-6a50f0229229.png"
                              },
                              "name": "Onyx/Onyx-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "503",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/edfac7b9-32dd-4617-8aa1-0a95c60ada3f.png"
                              },
                              "name": "Granite/Granite-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "508",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/0fd068ff-c834-46bd-89b6-3c4c327a0a6e.png"
                              },
                              "name": "Terrazzo-1/Terracotta-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "531",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/35ca7816-dd89-4cc7-8a20-4185d6967ea0.png"
                              },
                              "name": "Terrazzo",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "531",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/52c17533-bbef-4d69-a3d8-153cf0111b06.png"
                              },
                              "name": "Sisal-1",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "535",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/fc696ec5-6693-4199-8a4b-3f7886f9dc53.png"
                              },
                              "name": "Sisal",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "535",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/1aae8c40-bdc9-4237-9162-ff6d942b3554.png"
                              },
                              "name": "Sandstone",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "536",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/350ec0bc-f7ae-4562-bcd1-124f061d8d65.png"
                              },
                              "name": "Terracotta",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "538",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/88dab3a1-41fe-4397-94b1-95875356d432.png"
                              },
                              "name": "Velour/Velour-1/-2",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "538",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/73ddf31f-1dfc-440b-a886-d8cf035fb1cd.png"
                              },
                              "name": "Amethyst",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "588",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/2aa56127-8973-44fa-b531-daf8d4e30bc1.png"
                              },
                              "name": "Oakwood-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "602",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/04988691-37d2-4a29-a9e7-3adb3f9e96c6.png"
                              },
                              "name": "Oakwood",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "602",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/05037db9-2c67-45b5-a4c0-2af10d9068c2.png"
                              },
                              "name": "Baize-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "604",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/49dbb854-5af1-46d6-a83a-629476c32e2d.png"
                              },
                              "name": "Baize",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "604",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/e503bbc6-9b68-49d3-9542-fdd683a542d7.png"
                              },
                              "name": "Bamboo",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "629",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/db7c712a-a6c1-4894-b902-52181ab190a3.png"
                              },
                              "name": "Cobblestone",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "707",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/e850fce7-3c8e-40a0-a8b4-eb0b09e87b6e.png"
                              },
                              "name": "Mahogany",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 1.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "711",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/64bbcebd-803b-42ce-9907-ebbd7af1449e.png"
                              },
                              "name": "Sapphire",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "621",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/5a4d3233-08cd-4723-9932-b84ae31d7486.png"
                              },
                              "name": "Spruce",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "623",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/bcd1be63-c4ab-4c77-8056-da22ff7af86d.png"
                              },
                              "name": "White Oak",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "626",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/69486ab5-71a8-418f-8cd2-749562822660.png"
                              },
                              "name": "Basalt",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "627",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/b48de75e-6e67-485f-aa71-675a7751cbb8.png"
                              },
                              "name": "Linen",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "630",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/6ae0a2cd-c290-410c-ad16-8d02be91b410.png"
                              },
                              "name": "Jade",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "632",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/d1e8f582-5ce3-4f60-a51a-c257bd3f2133.png"
                              },
                              "name": "Lattice",
                              "numberOfBathrooms": 1,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "648",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/f1d37f0e-e54b-4451-a009-33f81007fd61.png"
                              },
                              "name": "Pewter",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "655",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/624656b3-b5d0-45aa-8da7-9ce6e44601de.png"
                              },
                              "name": "Coral",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "657",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/156b01ba-b045-4efe-a6e5-654641ec4243.png"
                              },
                              "name": "Topaz-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "689",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/fb4dd8eb-5f28-489e-990f-25d48458639f.png"
                              },
                              "name": "Topaz",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "689",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/57171489-fcf2-4bc7-985c-1f507977cbeb.png"
                              },
                              "name": "Emerald-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "696",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/ae35c8c7-5619-4a9d-a37f-8a1594b3fe97.png"
                              },
                              "name": "Emerald",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "696",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/60f52bbb-9cd6-4ea0-b3bc-d7920141e9fa.png"
                              },
                              "name": "Organza",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "708",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/789e4c7f-d3e2-40e3-a623-4b865c481127.png"
                              },
                              "name": "Dolomite",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "711",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/df463c18-a867-44cf-a748-40d605ce5a6d.png"
                              },
                              "name": "Pearl-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "748",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/ddac447b-a661-4f5c-b33e-719c4781ea4c.png"
                              },
                              "name": "Pearl",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "748",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/ca46b4d7-6cfe-46e5-ae01-b6d43b16467a.png"
                              },
                              "name": "Sassafrass-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "749",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/af62c235-1d3f-408e-85af-3e2c80bbfdd3.png"
                              },
                              "name": "Sassafrass",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "749",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/e84c9742-5d3e-4fb1-8e24-15f9f4ebd106.png"
                              },
                              "name": "Poplin",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "769",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/3eee57ae-7634-40a1-b76d-d075a35ec2c4.png"
                              },
                              "name": "Limestone",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "788",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/ac17b76d-f3f5-49fc-8133-de7a10a990ee.png"
                              },
                              "name": "Ruby",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2,
                              "planCategory": "floorPlan",
                              "squareFeet": "836",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/0167a9cb-2ec4-421c-bf0d-feb3d6b02311.png"
                              },
                              "name": "Perlite-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "660",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/5d90d6da-ca72-460c-9434-50973f3c1965.png"
                              },
                              "name": "Perlite",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "660",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/871c334f-9f88-4a77-8306-f3f56f104d4c.png"
                              },
                              "name": "Chestnut-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "710",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/10bb56f6-f580-412b-bee0-1495faab988f.png"
                              },
                              "name": "Chestnut",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "710",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/c6e84d23-d486-42b9-bc31-ab849ba9b6e5.png"
                              },
                              "name": "Chenille-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "710",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/e5e3dace-dfc2-4742-ac9c-7b58670259e0.png"
                              },
                              "name": "Chenille",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "710",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/8efe9328-b24f-4f0d-b309-e437e3a0df12.png"
                              },
                              "name": "Opal-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "726",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/790db01f-b2d8-498c-803a-1911d5a5d8e4.png"
                              },
                              "name": "Opal",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 2.5,
                              "planCategory": "floorPlan",
                              "squareFeet": "726",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/0282bd5c-a009-4f93-80a0-9f31570c959f.png"
                              },
                              "name": "Cantera-1",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 3,
                              "planCategory": "floorPlan",
                              "squareFeet": "744",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/fdd2025a-74ea-4c24-87fe-b1f91e8c48ac.png"
                              },
                              "name": "Cantera",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 3,
                              "planCategory": "floorPlan",
                              "squareFeet": "744",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/7abe1ff0-8d18-43ec-a58f-dbcca6268784.png"
                              },
                              "name": "Obsidian",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 3,
                              "planCategory": "floorPlan",
                              "squareFeet": "817",
                              "startPrice": "",
                              "status": "Sold Out"
                            },
                            {
                              "contactForPricing": true,
                              "exposure": [],
                              "floorPlanType": [
                                "Condo"
                              ],
                              "image": {
                                "name": "photo",
                                "url": "https://storage.googleapis.com/precon-app.appspot.com/3a14f56c-7e0c-40b9-a45b-a90050eeef3b.png"
                              },
                              "name": "Diamond",
                              "numberOfBathrooms": 2,
                              "numberOfBedrooms": 3,
                              "planCategory": "floorPlan",
                              "squareFeet": "840",
                              "startPrice": "",
                              "status": "Sold Out"
                            }
                          ],
                          "constructionStatus": "Construction",
                          "lockerMaintainanceIncluded": false,
                          "streetName": "Jarvis Street",
                          "completionDate": "",
                          "virtualShowing": "",
                          "builders": [
                            "Builders/XAY63U2xQ7JTngGVRffU"
                          ],
                          "moveInReady": null,
                          "listingId": "NE9QFQ",
                          "architects": [
                            "Architects/NmHokKSx4TeTkuiaAzew"
                          ],
                          "parkingCostIncluded": false,
                          "meteringIncluded": false,
                          "maxSize": 840,
                          "numberOfFloorPlans": 73,
                          "salesCompanies": [
                            "SalesCompanies/ungNkdpl44K3O5Cc5aRq"
                          ],
                          "hasParking": false,
                          "estimatedCompletionDate": "Jan 2024",
                          "photos": [
                            {
                              "createdAt": "2022-12-06T21:08:15.168Z",
                              "name": "2.jpg",
                              "tags": [
                                "Exterior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/a1916cee-a4a1-4f57-b12d-8a1dcde55f38"
                            },
                            {
                              "createdAt": "2022-12-06T21:08:15.168Z",
                              "name": "3.jpg",
                              "tags": [
                                "Exterior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/343138b3-7fd5-4589-93e2-d5879de87892"
                            },
                            {
                              "createdAt": "2022-12-06T21:08:15.168Z",
                              "name": "4.jpg",
                              "tags": [
                                "Interior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/23f5ac38-8a92-4a1f-b853-2a63cdfdb48c"
                            },
                            {
                              "createdAt": "2022-12-06T21:08:15.168Z",
                              "name": "5.jpg",
                              "tags": [
                                "Interior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/c50e30e9-9155-461b-b3e2-14a9ff909715"
                            },
                            {
                              "createdAt": "2022-12-06T21:08:15.168Z",
                              "name": "6.jpg",
                              "tags": [
                                "Interior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/a1abac5c-7ead-4743-9724-9e11a060535d"
                            }
                          ],
                          "storageCostIncluded": false,
                          "maxBeds": 3,
                          "estimatedCompletionDateTBD": false,
                          "averagePricePerSqFeet": 760,
                          "startPrice": null,
                          "parkingCost": 60000,
                          "minBeds": 1,
                          "marketingCompanies": [
                            "Marketers/58bBz696X7ry4FnN9VHX"
                          ],
                          "storageCost": 6000,
                          "endPrice": null,
                          "contactForPricing": true,
                          "region": "Toronto",
                          "assignmentFeeFree": true,
                          "interiorDesigners": [
                            "InteriorDesigners/7cqJvviYNIxwHZowfBZK"
                          ],
                          "firstOccupancyDate": "Jan 2024",
                          "owners": [],
                          "hasLocker": false,
                          "startPricePerSqFeet": 631,
                          "numberOfIncentives": 0,
                          "summary": "Be a part of the transformation as Hamilton becomes one of the best places to live in Canada. The downtown core pulses with life around the clock. It’s where you’ll find many live music venues, late-night eateries, top attractions and places where people go to shop and hang out.\n",
                          "ccOrMaintFee": 0.56,
                          "geographicAddress": "1 Jarvis Street, Toronto",
                          "fullAddress": "1 Jarvis Street, Toronto",
                          "name": "1 Jarvis",
                          "streetNumber": 1,
                          "minSize": 431,
                          "exposures": [],
                          "coverPhoto": {
                            "name": "cover",
                            "url": "https://storage.googleapis.com/precon-app.appspot.com/dbc75004-fe49-49b8-888e-04f729c0cc65.png"
                          },
                          "salesStarted": "Winter/Spring 2021",
                          "parkingMaintainance": 0,
                          "type": [
                            "Condo"
                          ],
                          "paymentStructures": [
                            {
                              "milestones": [
                                {
                                  "amount": 5000,
                                  "prefix": "",
                                  "suffix": "on signing",
                                  "text": "$5000 on signing",
                                  "type": "fixed"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "Balance of ",
                                  "suffix": "in 30 days",
                                  "text": "Balance of  5% in 30 days",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 2.5,
                                  "prefix": "",
                                  "suffix": "on June 1, 2021",
                                  "text": "2.5% on June 1, 2021",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 2.5,
                                  "prefix": "",
                                  "suffix": "on August 1, 2021",
                                  "text": "2.5% on August 1, 2021",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 2.5,
                                  "prefix": "",
                                  "suffix": "on February 1, 2022",
                                  "text": "2.5% on February 1, 2022",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 2.5,
                                  "prefix": "",
                                  "suffix": "on August 1, 2022",
                                  "text": "2.5% on August 1, 2022",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "on Occupancy",
                                  "text": "5% on Occupancy",
                                  "type": "percentage"
                                }
                              ],
                              "totalDeposit": 20,
                              "type": "Standard"
                            }
                          ],
                          "neighbourhood": [
                            "Beasley"
                          ],
                          "completionDateTBD": false,
                          "ceilingHeights": "From 8'6\" to 9'9\"",
                          "postalCode": "L8R 3J2",
                          "amenities": [
                            "Co Working Lounge",
                            "Concierge Attended Lobby",
                            "Fireplace Lounge",
                            "Yoga Studio",
                            "Fitness Centre",
                            "Private Mail And Smart Parcel Locker System"
                          ],
                          "cityOrDistrict": "Toronto",
                          "parkingRestriction": "",
                          "finishes": "",
                          "municipalities": [
                            "Hamilton"
                          ],
                          "incentives": [],
                          "metering": "",
                          "storageRestriction": "",
                          "parkingMaintainanceIncluded": false,
                          "lat": "43.25477892843521",
                          "videos": [],
                          "path": "Listings/NE9QFQ",
                          "isPreLaunch": false,
                          "objectID": "NE9QFQ"
                        },
                        {
                          "estimatedCompletionDate": "Feb, 2016",
                          "geographicAddress": "1000 Bay St, Toronto",
                          "paymentStructures": [
                            {
                              "milestones": [
                                {
                                  "amount": 5000,
                                  "prefix": "",
                                  "suffix": "with offer",
                                  "text": "$5000 with offer",
                                  "type": "fixed"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "in 30 days",
                                  "text": "5% in 30 days",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "in 90 days",
                                  "text": "5% in 90 days",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "in 180 days",
                                  "text": "5% in 180 days",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "in 240 days",
                                  "text": "5% in 240 days",
                                  "type": "percentage"
                                },
                                {
                                  "amount": 5,
                                  "prefix": "",
                                  "suffix": "on Occupancy",
                                  "text": "5% on Occupancy",
                                  "type": "percentage"
                                }
                              ],
                              "totalDeposit": 25,
                              "type": "Standard"
                            }
                          ],
                          "ccOrMaintFeeIncluded": false,
                          "exposures": [],
                          "hasParking": false,
                          "municipalities": [
                            "C01"
                          ],
                          "completionDate": "Winter/Spring 2016",
                          "long": "-79.38789337508088",
                          "estimatedCompletionYear": 2016,
                          "lockerMaintainance": 0,
                          "region": "Toronto",
                          "listingId": "SEOXT2",
                          "parkingRestriction": "",
                          "salesCompanies": [
                            "SalesCompanies/Gi3pDWnIdg6da0WnV0sP"
                          ],
                          "cityOrDistrict": "Toronto",
                          "minSize": null,
                          "storageCostIncluded": false,
                          "videos": [],
                          "parkingMaintainanceIncluded": false,
                          "maxSize": null,
                          "finishes": "",
                          "parkingMaintainance": 0,
                          "numberOfUnits": "458",
                          "constructionStartedTBD": false,
                          "endPrice": null,
                          "neighbourhood": [
                            "Bay Street Corridor"
                          ],
                          "storageCost": 0,
                          "parkingCost": 65000,
                          "assignmentFeeFree": false,
                          "ceilingHeights": "9'0''",
                          "owners": [],
                          "name": "1 Thousand Bay Condos",
                          "completionDateTBD": false,
                          "storageRestriction": "",
                          "constructionStatus": "Complete",
                          "brokerages": [],
                          "floorPlans": [],
                          "amenities": [
                            "Media Room",
                            "Games Room",
                            "Billiards Room",
                            "Party Room",
                            "Yoga Room",
                            "Exercise Fitness Room",
                            "Pilates Studio",
                            "Concierge",
                            "Roof Top Terraces"
                          ],
                          "developmentLeviesIncluded": false,
                          "estimatedCompletionDateTBD": false,
                          "streetNumber": 1000,
                          "firstOccupancyDateTBD": false,
                          "firstOccupancyDate": "Winter/Spring 2016",
                          "architects": [
                            "Architects/PDYdvk6YXc2yH3SNopnr"
                          ],
                          "postalCode": "M5S 3A8",
                          "meteringIncluded": false,
                          "metering": "Hydro metered seperately",
                          "numberOfIncentives": 0,
                          "photos": [
                            {
                              "createdAt": "2022-11-29T18:23:41.809Z",
                              "name": "1-Thousand-Bay-Condos-3-v2-full.jpg",
                              "tags": [
                                "Interior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/950f9fb8-17fc-4e5b-af63-1898b4fc3164"
                            },
                            {
                              "createdAt": "2022-11-29T18:23:41.809Z",
                              "name": "1-Thousand-Bay-Condos-4-v2-full.jpg",
                              "tags": [
                                "Exterior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/09cd0130-769e-4390-ae39-2def40b67e3a"
                            },
                            {
                              "createdAt": "2022-11-29T18:23:41.809Z",
                              "name": "3802-9586.jpg",
                              "tags": [
                                "Exterior"
                              ],
                              "type": "image/jpeg",
                              "url": "https://storage.googleapis.com/precon-app.appspot.com/72fc407e-8813-4eb4-80f5-d8c01ad2eec5"
                            }
                          ],
                          "hasLocker": false,
                          "maxBaths": null,
                          "logo": {
                            "name": "logo",
                            "url": null
                          },
                          "marketingCompanies": [],
                          "minBaths": null,
                          "numberOfFloorPlans": 0,
                          "coverPhoto": {
                            "name": "cover",
                            "url": "https://storage.googleapis.com/precon-app.appspot.com/2c94e9e7-1451-4dae-88c8-55a05fd2a2fa.png"
                          },
                          "streetName": "Bay St",
                          "moveInReady": null,
                          "parkingCostIncluded": false,
                          "interiorDesigners": [],
                          "ccOrMaintFee": 3,
                          "salesStarted": "Fall/Winter 2011",
                          "contactForPricing": true,
                          "startPrice": null,
                          "lockerMaintainanceIncluded": false,
                          "minBeds": null,
                          "isFeatured": false,
                          "state": "Ontario",
                          "type": [
                            "Condo"
                          ],
                          "summary": "The building is situated in the midst of Toronto’s Discovery District with its high concentration of research centres and world-class hospitals, as well as cultural institutions and high-end retail. Backing onto St. Michael’s College at the University of Toronto, the property overlooks green space to the north, and the University of Toronto and Queen’s Park to the west.",
                          "country": "Canada",
                          "maxBeds": null,
                          "fullAddress": "1000 Bay St, Toronto",
                          "virtualShowing": "",
                          "_geoloc": {
                            "lat": 43.66524150671246,
                            "lng": -79.38789337508088
                          },
                          "incentives": [],
                          "lat": "43.665241506712455",
                          "assignmentFee": 0,
                          "builders": [
                            "Builders/afUCNcLQ5IiSDtZD4b0W"
                          ],
                          "developmentLevies": "",
                          "sellingStatus": "Sold Out",
[...]
